#u82-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u78-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u186-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u183-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u178-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u197-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u203-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u208-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u132-4,#u77-2,#u77-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u80-4,#u77-6,#u77-8
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u73-4,#u131-8
{
	font-family: bebas-neue-n4, sans-serif;
}

