#u73-4,#u78-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u77-2,#u77-4,#u77-6,#u80-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u186-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u183-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u178-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u197-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u203-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u208-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u82-4,#u394-4,#u773-4,#u77-8,#u1183-4,#u1173-4,#u1174-4,#u1176-4,#u1177-4,#u1178-6,#u132-4,#u131-8,#u580-4
{
	font-family: bebas-neue-n4, sans-serif;
}

