.html
{
	background-color: #E9E9E9;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 6916px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E9E9E9;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 833px;
	margin-bottom: 62px;
}

#u74-4
{
	z-index: 6;
	width: 289px;
	min-height: 26px;
	text-align: left;
	line-height: 29px;
	font-size: 24px;
	color: #F15A24;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 56px;
	left: 50%;
	margin-left: -480px;
}

#u77-4
{
	z-index: 14;
	width: 88px;
	min-height: 26px;
	background-color: transparent;
	text-align: left;
	line-height: 29px;
	font-size: 24px;
	color: #F15A24;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 56px;
	left: 50%;
	margin-left: 297px;
}

#u77-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px 0px 0px 297px;
}

#u78-4
{
	z-index: 18;
	width: 95px;
	min-height: 26px;
	background-color: transparent;
	text-align: left;
	line-height: 29px;
	font-size: 24px;
	color: #F15A24;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 56px;
	left: 50%;
	margin-left: 385px;
}

#u78-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px 0px 0px 385px;
}

#u77-4:hover p,#u78-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u69-4
{
	z-index: 2;
	width: 1200px;
	min-height: 98px;
	line-height: 188px;
	position: fixed;
	top: 230px;
	left: 50%;
	margin-left: -50%;
}

#u87-4
{
	z-index: 22;
	width: 1200px;
	min-height: 400px;
	line-height: 188px;
	position: fixed;
	top: 238px;
	left: 50%;
	margin-left: -50%;
}

#u76-4
{
	z-index: 10;
	width: 338px;
	text-align: center;
	line-height: 39px;
	font-size: 48px;
	color: #000000;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 379px;
	left: 50%;
	margin-left: -41px;
}

#u72
{
	z-index: 81;
	width: 1200px;
	border-style: none;
	border-color: transparent;
	background-color: #F15A24;
	padding-bottom: 84px;
	position: relative;
	left: -100px;
}

#u72_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
	left: -100px;
}

#u86-10
{
	z-index: 82;
	width: 960px;
	min-height: 559px;
	text-align: center;
	line-height: 63px;
	font-size: 64px;
	color: #E9E9E9;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 120px;
}

#u86-6
{
	text-indent: -39px;
}

#specialer
{
	left: -80px;
	margin-top: 66px;
	position: relative;
}

#pu88
{
	width: 0.01px;
	left: -100px;
	margin-top: 658px;
	position: relative;
}

#u88
{
	z-index: 26;
	width: 1200px;
	border-style: none;
	border-color: transparent;
	background-color: #F15A24;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u88_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
	left: -100px;
	padding-top: 98px;
	padding-bottom: 982px;
}

#u105
{
	z-index: 37;
	width: 435px;
	left: 675px;
	position: relative;
}

#u135
{
	z-index: 53;
	width: 70px;
	left: 1010px;
	margin-top: 756px;
	position: relative;
}

#u190
{
	z-index: 70;
	width: 343px;
	left: 649px;
	margin-top: 370px;
	position: relative;
}

#u256
{
	z-index: 98;
	width: 511px;
	left: 569px;
	margin-top: 458px;
	position: relative;
}

#u107
{
	z-index: 39;
	width: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 216px;
	left: 769px;
}

#u192
{
	z-index: 72;
	width: 343px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1763px;
	left: 649px;
}

#u194
{
	z-index: 74;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1805px;
	left: 810px;
}

.js #u87-4.ose_pre_init,.js #u107.ose_pre_init,.js #u194.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u258
{
	z-index: 100;
	width: 221px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2523px;
	left: 575px;
}

#u321
{
	z-index: 117;
	width: 622px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3377px;
	left: 458px;
}

#u323
{
	z-index: 119;
	width: 623px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3377px;
	left: 458px;
}

.js #u74-4.ose_pre_init,.js #u69-4.ose_pre_init,.js #u76-4.ose_pre_init,.js #u256.ose_pre_init,.js #u192.ose_pre_init,.js #u323.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#pu103-6
{
	width: 0.01px;
	padding-bottom: 3525px;
	margin-left: 20px;
	top: -3811px;
	margin-bottom: -3524px;
	position: relative;
}

#u103-6
{
	z-index: 27;
	width: 405px;
	min-height: 81px;
	position: fixed;
	top: 2402px;
	left: 21px;
}

#u104-4
{
	z-index: 33;
	width: 375px;
	min-height: 23px;
	position: fixed;
	top: 2614px;
	left: 21px;
}

#u132-8
{
	z-index: 43;
	width: 352px;
	min-height: 81px;
	position: fixed;
	top: 3195px;
	left: 20px;
}

#u137-7
{
	z-index: 55;
	width: 465px;
	min-height: 73px;
	position: fixed;
	top: 3520px;
	left: 20px;
}

#u189-8
{
	z-index: 62;
	width: 352px;
	min-height: 81px;
	position: fixed;
	top: 3975px;
	left: 20px;
}

#u196-5
{
	z-index: 76;
	width: 365px;
	min-height: 68px;
	position: fixed;
	top: 4416px;
	left: 20px;
}

#u255-6
{
	z-index: 92;
	width: 352px;
	min-height: 81px;
	position: fixed;
	top: 4795px;
	left: 20px;
}

#u260-9
{
	z-index: 102;
	width: 371px;
	min-height: 129px;
	position: fixed;
	top: 5037px;
	left: 20px;
}

#u320-6
{
	z-index: 111;
	width: 352px;
	min-height: 81px;
	position: fixed;
	top: 5581px;
	left: 21px;
}

#u325-7
{
	z-index: 121;
	width: 386px;
	min-height: 126px;
	position: fixed;
	top: 5801px;
	left: 21px;
}

#u133
{
	z-index: 51;
	width: 213px;
	position: fixed;
	top: 3259px;
	left: 674px;
}

#u109
{
	z-index: 41;
	width: 223px;
	position: fixed;
	top: 2491px;
	left: 690px;
}

#pu361-3
{
	width: 0.01px;
	left: -100px;
	margin-top: 1px;
	position: relative;
}

#u361-3
{
	z-index: 128;
	width: 1200px;
	min-height: 702px;
	border-style: none;
	border-color: transparent;
	background-color: #E9E9E9;
	position: relative;
	margin-right: -10000px;
}

#u359-6
{
	z-index: 131;
	width: 1200px;
	min-height: 85px;
	text-align: center;
	text-indent: -163px;
	line-height: 87px;
	font-size: 97px;
	color: #F15A24;
	font-family: mrs-sheppards, fantasy;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
}

#u360-4
{
	z-index: 137;
	width: 300px;
	min-height: 43px;
	text-align: right;
	line-height: 48px;
	font-size: 40px;
	color: #F15A24;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 391px;
	left: 708px;
}

#u363-8
{
	z-index: 141;
	width: 300px;
	min-height: 87px;
	text-align: left;
	line-height: 42px;
	font-size: 40px;
	color: #F15A24;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 394px;
	left: 193px;
}

#u362-4
{
	z-index: 149;
	width: 408px;
	min-height: 87px;
	text-align: right;
	line-height: 48px;
	font-size: 40px;
	color: #F15A24;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 434px;
	left: 600px;
}

#u364
{
	z-index: 153;
	width: 155px;
	position: relative;
	margin-right: -10000px;
	margin-top: 236px;
	left: 523px;
}

#kontakt
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 127px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

