.html
{
	background-color: #E9E9E9;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 4929px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 792px;
	margin-bottom: -36px;
}

#u516-4
{
	z-index: 2;
	width: 289px;
	min-height: 26px;
	line-height: 29px;
	text-align: left;
	font-size: 24px;
	position: fixed;
	top: 36px;
	left: 50%;
	margin-left: -480px;
}

#u517-4
{
	z-index: 6;
	width: 88px;
	min-height: 26px;
	background-color: transparent;
	line-height: 29px;
	position: fixed;
	top: 36px;
	left: 50%;
	margin-left: 297px;
}

#u517-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px 0px 0px 297px;
}

#u518-4
{
	z-index: 10;
	width: 95px;
	min-height: 26px;
	background-color: transparent;
	line-height: 29px;
	position: fixed;
	top: 36px;
	left: 50%;
	margin-left: 385px;
}

#u518-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px 0px 0px 385px;
}

#u517-4.MuseLinkActive p,#u517-4.MuseLinkActive h3,#u518-4:hover p,#u518-4:hover h3
{
	color: #000000;
	visibility: inherit;
}

#u517-2,#u518-2
{
	font-size: 24px;
}

#u519-4
{
	z-index: 14;
	width: 1200px;
	min-height: 400px;
	line-height: 188px;
	text-indent: 0px;
	position: fixed;
	top: 218px;
	left: 50%;
	margin-left: -50%;
}

#pu523
{
	width: 0.01px;
	margin-left: 575px;
	margin-top: 98px;
	position: relative;
}

#u523
{
	z-index: 29;
	width: 435px;
	position: relative;
	margin-right: -10000px;
}

#u525
{
	z-index: 31;
	width: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 94px;
}

#pu521-6
{
	width: 0.01px;
	padding-bottom: 309px;
	margin-left: 21px;
	top: -362px;
	margin-bottom: -309px;
	position: relative;
}

#u521-6
{
	z-index: 19;
	width: 405px;
	min-height: 81px;
	position: fixed;
	top: 919px;
	left: 21px;
}

#u522-4
{
	z-index: 25;
	width: 375px;
	min-height: 23px;
	position: fixed;
	top: 1131px;
	left: 21px;
}

#u527
{
	z-index: 33;
	width: 223px;
	position: fixed;
	top: 1008px;
	left: 690px;
}

#u529-8
{
	z-index: 35;
	width: 352px;
	min-height: 81px;
	position: fixed;
	top: 1712px;
	left: 20px;
}

#u530
{
	z-index: 43;
	width: 213px;
	position: fixed;
	top: 1776px;
	left: 674px;
}

#u534-7
{
	z-index: 47;
	width: 465px;
	min-height: 73px;
	position: fixed;
	top: 2037px;
	left: 20px;
}

#u532
{
	z-index: 45;
	width: 70px;
	margin-left: 910px;
	margin-top: 756px;
	position: relative;
}

#u535-8
{
	z-index: 54;
	width: 352px;
	min-height: 81px;
	position: fixed;
	top: 2492px;
	left: 20px;
}

#pu536
{
	width: 0.01px;
	margin-left: 549px;
	margin-top: 370px;
	position: relative;
}

#u536
{
	z-index: 62;
	width: 343px;
	position: relative;
	margin-right: -10000px;
}

#u538
{
	z-index: 64;
	width: 343px;
	position: relative;
	margin-right: -10000px;
}

#u540
{
	z-index: 66;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 161px;
}

.js #u525.ose_pre_init,.js #u521-6.ose_pre_init,.js #u522-4.ose_pre_init,.js #u540.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u542-5
{
	z-index: 68;
	width: 365px;
	min-height: 68px;
	position: fixed;
	top: 2933px;
	left: 20px;
}

#u543-6
{
	z-index: 73;
	width: 352px;
	min-height: 81px;
	position: fixed;
	top: 3312px;
	left: 20px;
}

#pu544
{
	width: 0.01px;
	margin-left: 469px;
	margin-top: 458px;
	position: relative;
}

#u544
{
	z-index: 79;
	width: 511px;
	position: relative;
	margin-right: -10000px;
}

#u546
{
	z-index: 81;
	width: 221px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 6px;
}

#u548-9
{
	z-index: 83;
	width: 371px;
	min-height: 129px;
	position: fixed;
	top: 3554px;
	left: 20px;
}

#u549-6
{
	z-index: 92;
	width: 352px;
	min-height: 81px;
	position: fixed;
	top: 4098px;
	left: 21px;
}

#u552
{
	z-index: 100;
	width: 623px;
	position: fixed;
	top: 4100px;
	left: 357px;
}

.js #u538.ose_pre_init,.js #u544.ose_pre_init,.js #u552.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u550
{
	z-index: 98;
	width: 622px;
	position: fixed;
	top: 4100px;
	left: 357px;
}

#u554-7
{
	z-index: 102;
	width: 386px;
	min-height: 126px;
	position: fixed;
	top: 4318px;
	left: 21px;
}

#kontakt
{
	margin-left: 20px;
	margin-top: 695px;
	position: relative;
}

#pu520
{
	width: 0.01px;
	left: -100px;
	top: -3670px;
	margin-bottom: -3670px;
	position: relative;
}

#u520
{
	z-index: 18;
	width: 1200px;
	height: 4173px;
	border-style: none;
	border-color: transparent;
	background-color: #F15A24;
	position: relative;
	margin-right: -10000px;
}

#u732
{
	z-index: 109;
	width: 1200px;
	border-style: none;
	border-color: transparent;
	background-color: #0C273F;
	padding-bottom: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3923px;
}

#u732_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
	left: -100px;
}

#u735-6
{
	z-index: 113;
	width: 300px;
	min-height: 87px;
	color: #E9E9E9;
	line-height: 31px;
	text-align: left;
	font-size: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 120px;
}

#u736-4
{
	z-index: 119;
	width: 300px;
	min-height: 20px;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 780px;
}

#u733
{
	z-index: 111;
	height: 66px;
	width: 81px;
	vertical-align: top;
	background: url("../images/u733.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4041px;
	left: 560px;
}

#u733:hover
{
	background: url("../images/u733-r.png") no-repeat 0px 0px;
}

#u737-4
{
	z-index: 123;
	width: 408px;
	min-height: 38px;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4072px;
	left: 672px;
}

#u736-2,#u737-2
{
	font-size: 26px;
	color: #E9E9E9;
}

#u738-4
{
	z-index: 127;
	width: 1200px;
	min-height: 85px;
	line-height: 47px;
	color: #E9E9E9;
	text-indent: 0px;
	font-size: 49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3956px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

