#u353-4,#u355-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u234-6
{
	font-family: bebas-neue-n4, sans-serif;
}

#u238-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u240-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u236-5,#u246-4,#u247-4,#u297-5,#u298-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u236,#u239-4,#u241-4,#u242-4,#u298
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u330-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u334-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u344-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u349-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u319-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u323-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u300-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

