@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #E9E9E9;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 5575px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E9E9E9;
}

#page_position_content
{
	margin-top: 162px;
	margin-bottom: 2px;
}

#pu868-4
{
	width: 0.01px;
	position: relative;
}

#u868-4
{
	z-index: 10;
	width: 380px;
	min-height: 72px;
	text-indent: -49px;
	line-height: 107px;
	font-size: 89px;
	position: relative;
	margin-right: -10000px;
}

#u869-4
{
	z-index: 14;
	width: 380px;
	text-indent: 131px;
	color: #000000;
	line-height: 23px;
	text-align: center;
	font-size: 28px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
}

#u1283-4
{
	z-index: 110;
	width: 380px;
	min-height: 182px;
	color: #FFFFFF;
	line-height: 58px;
	text-align: center;
	font-size: 70px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-top: 94px;
}

#u1284-4
{
	z-index: 119;
	width: 380px;
	min-height: 134px;
	color: #0C273F;
	line-height: 25px;
	text-align: center;
	font-size: 30px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-top: 93px;
}

#u1283-2,#u1284-2
{
	padding-right: 10px;
	padding-left: 10px;
}

#pu1294
{
	width: 0.01px;
	left: -5px;
	margin-top: 75px;
	position: relative;
}

#u1294
{
	z-index: 2;
	width: 380px;
	height: 127px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFB4D;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u994
{
	z-index: 3;
	width: 380px;
	border-style: none;
	border-color: transparent;
	background-color: #F15A24;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 5px;
}

#u994_position_content
{
	margin-top: 253px;
	margin-bottom: 445px;
}

#u928
{
	z-index: 82;
	width: 47px;
	margin-left: 190px;
	position: relative;
}

#u925-6
{
	z-index: 4;
	width: 380px;
	min-height: 81px;
	left: -4px;
	margin-top: 97px;
	position: relative;
}

#u932
{
	z-index: 41;
	width: 343px;
	margin-left: 14px;
	margin-top: 421px;
	position: relative;
}

#u931-6
{
	z-index: 35;
	width: 380px;
	min-height: 81px;
	left: -4px;
	margin-top: 34px;
	position: relative;
}

#u940
{
	z-index: 54;
	width: 345px;
	margin-left: 14px;
	margin-top: 387px;
	position: relative;
}

#u939-4
{
	z-index: 50;
	width: 380px;
	min-height: 81px;
	left: -4px;
	margin-top: 50px;
	position: relative;
}

#u1190
{
	z-index: 86;
	width: 263px;
	margin-left: 113px;
	margin-top: 505px;
	position: relative;
}

#u946
{
	z-index: 71;
	width: 345px;
	margin-left: 13px;
	margin-top: 610px;
	position: relative;
}

#u945-4
{
	z-index: 67;
	width: 380px;
	min-height: 81px;
	left: -4px;
	margin-top: 70px;
	position: relative;
}

#u917-6
{
	z-index: 18;
	width: 380px;
	min-height: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3073px;
	left: 5px;
}

#u918-4
{
	z-index: 24;
	width: 380px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3189px;
	left: 5px;
}

#u930-7
{
	z-index: 28;
	width: 380px;
	min-height: 73px;
	position: relative;
	margin-right: -10000px;
	margin-top: 622px;
}

#u934
{
	z-index: 43;
	width: 343px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1046px;
	left: 19px;
}

#u938-5
{
	z-index: 45;
	width: 380px;
	min-height: 68px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1494px;
}

#u942
{
	z-index: 56;
	width: 149px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1883px;
	left: 23px;
}

#u944-9
{
	z-index: 58;
	width: 380px;
	min-height: 129px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2288px;
}

#u948
{
	z-index: 73;
	width: 346px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3662px;
	left: 17px;
}

#u950-7
{
	z-index: 75;
	width: 380px;
	min-height: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3932px;
}

#u926
{
	z-index: 84;
	width: 142px;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
	left: 114px;
}

#pu1279
{
	width: 0.01px;
	padding-bottom: 62px;
	margin-left: 15px;
	top: -4318px;
	margin-bottom: -62px;
	position: relative;
}

#u1279
{
	z-index: 114;
	width: 118px;
	height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: #0C273F;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: fixed;
	top: 908px;
	left: 15px;
}

#u1280-4
{
	z-index: 115;
	width: 118px;
	min-height: 44px;
	background-color: transparent;
	color: #E9E9E9;
	line-height: 38px;
	text-align: center;
	font-size: 32px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 926px;
	left: 15px;
}

#u1280-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	margin: 0px;
}

.js #u1279.ose_pre_init,.js #u1280-4.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pu1271
{
	width: 0.01px;
	left: -5px;
	top: -142px;
	margin-bottom: -142px;
	position: relative;
}

#u1271
{
	z-index: 88;
	width: 380px;
	border-style: none;
	border-color: transparent;
	background-color: #0C273F;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u1271_position_content
{
	margin-top: 2px;
	margin-bottom: 194px;
}

#kontaktprotection
{
	margin-left: 12px;
	position: relative;
}

#u1277-4
{
	z-index: 106;
	width: 380px;
	min-height: 85px;
	line-height: 47px;
	color: #E9E9E9;
	text-indent: 0px;
	font-size: 49px;
	left: -5px;
	margin-top: 43px;
	position: relative;
}

#u1274-6
{
	z-index: 92;
	width: 380px;
	min-height: 87px;
	color: #E9E9E9;
	line-height: 31px;
	text-align: center;
	font-size: 26px;
	left: -5px;
	margin-top: 9px;
	position: relative;
}

#u1275-4
{
	z-index: 98;
	width: 380px;
	min-height: 20px;
	background-color: transparent;
	line-height: 31px;
	left: -5px;
	margin-top: 19px;
	position: relative;
}

#u1275-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 19px 0px 0px;
}

#u1280-4:hover p,#u1275-4:hover p,#u1275-4:hover h3
{
	color: #FF0000;
	visibility: inherit;
}

#u1272
{
	z-index: 90;
	height: 66px;
	width: 81px;
	vertical-align: top;
	background: url("../../images/u1272.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 343px;
	left: 149px;
}

#u1272:hover
{
	background: url("../../images/u1272-r.png") no-repeat 0px 0px;
}

#u1276-4
{
	z-index: 102;
	width: 380px;
	min-height: 38px;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
}

#u1275-2,#u1276-2
{
	font-size: 26px;
	text-align: center;
	color: #E9E9E9;
}

#page .verticalspacer
{
	clear: both;
}

