@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #E9E9E9;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 5325.600000000001px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E9E9E9;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: 205px;
	margin-bottom: -97px;
}

#pu1393-4
{
	width: 0.01px;
	position: relative;
}

#u1393-4
{
	z-index: 3;
	width: 380px;
	min-height: 98px;
	line-height: 101px;
	font-size: 84px;
	position: relative;
	margin-right: -10000px;
}

#u1394-4
{
	z-index: 7;
	width: 216px;
	color: #000000;
	line-height: 23px;
	text-align: center;
	font-size: 28px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 141px;
}

#u1490-4
{
	z-index: 121;
	width: 380px;
	min-height: 53px;
	color: #F15A24;
	line-height: 47px;
	text-align: center;
	font-size: 39px;
	font-family: mrs-sheppards, fantasy;
	font-weight: 400;
	position: relative;
	left: -1px;
	margin-top: 181px;
}

#u1491
{
	z-index: 125;
	width: 77px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
	position: fixed;
	top: 628px;
	left: 13px;
}

#u1492-4
{
	z-index: 126;
	width: 77px;
	min-height: 25px;
	background-color: transparent;
	color: #F15A24;
	line-height: 25px;
	text-align: center;
	font-size: 21px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 631px;
	left: 13px;
}

#u1492-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px;
}

#u1492-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u1485-6
{
	z-index: 103;
	width: 353px;
	min-height: 119px;
	color: #000000;
	line-height: 37px;
	font-size: 39px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 708px;
	left: 13px;
}

#u1487-4
{
	z-index: 109;
	width: 353px;
	color: #000000;
	line-height: 37px;
	font-size: 39px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 827px;
	left: 13px;
}

#u1488-4
{
	z-index: 113;
	width: 353px;
	color: #FF241A;
	line-height: 37px;
	font-size: 39px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 1020px;
	left: 13px;
}

#u1489-4
{
	z-index: 117;
	width: 380px;
	min-height: 179px;
	line-height: 119px;
	text-indent: 0px;
	font-size: 99px;
	position: relative;
	left: -1px;
	margin-top: 748px;
}

#pu1442
{
	width: 0.01px;
	margin-top: 283px;
	position: relative;
}

#u1442
{
	z-index: 2;
	width: 354px;
	border-style: none;
	border-color: transparent;
	background-color: #F15A24;
	position: relative;
	margin-right: -10000px;
	padding: 163px 12px 162.39999999999918px 14px;
}

#u1460
{
	z-index: 82;
	width: 233px;
	margin-left: 96px;
	position: relative;
}

#u1406
{
	z-index: 27;
	width: 56px;
	margin-left: 205px;
	margin-top: 629px;
	position: relative;
}

#u1447
{
	z-index: 49;
	width: 343px;
	margin-left: 11px;
	margin-top: 461px;
	position: relative;
}

#u1410
{
	z-index: 50;
	width: 343px;
	position: relative;
	margin-right: -10000px;
}

#u1414
{
	z-index: 52;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 161px;
}

#u1418
{
	z-index: 58;
	width: 343px;
	margin-top: 423px;
	position: relative;
}

#u1426
{
	z-index: 73;
	width: 320px;
	margin-left: 11px;
	margin-top: 392px;
	position: relative;
}

#kontaktphone
{
	margin-left: 11px;
	margin-top: 232px;
	position: relative;
}

#u1395-6
{
	z-index: 11;
	width: 380px;
	min-height: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 483px;
}

#u1396-4
{
	z-index: 17;
	width: 380px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 599px;
}

#u1403-6
{
	z-index: 21;
	width: 380px;
	min-height: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1307px;
}

#u1404
{
	z-index: 29;
	width: 210px;
	position: relative;
	margin-right: -10000px;
	margin-top: 786px;
	left: 85px;
}

#u1408-7
{
	z-index: 31;
	width: 380px;
	min-height: 73px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1423px;
}

#u1409-6
{
	z-index: 38;
	width: 380px;
	min-height: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2022px;
}

#u1416-5
{
	z-index: 44;
	width: 380px;
	min-height: 68px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2138px;
}

#u1417-4
{
	z-index: 54;
	width: 380px;
	min-height: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2733px;
}

#u1422-9
{
	z-index: 60;
	width: 380px;
	min-height: 129px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2791px;
}

#u1423-4
{
	z-index: 69;
	width: 380px;
	min-height: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3270px;
}

#u1428-7
{
	z-index: 75;
	width: 379px;
	min-height: 126px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3340px;
	left: 1px;
}

#pu1477
{
	width: 0.01px;
	top: -180px;
	margin-bottom: -180px;
	position: relative;
}

#u1477
{
	z-index: 84;
	width: 380px;
	height: 347px;
	border-style: none;
	border-color: transparent;
	background-color: #0C273F;
	position: relative;
	margin-right: -10000px;
}

#u1480-6
{
	z-index: 85;
	width: 380px;
	min-height: 87px;
	color: #E9E9E9;
	line-height: 31px;
	text-align: center;
	font-size: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
}

#u1481-4
{
	z-index: 91;
	width: 380px;
	min-height: 20px;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 206px;
}

#u1482-4
{
	z-index: 95;
	width: 380px;
	min-height: 38px;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
}

#u1481-2,#u1482-2
{
	font-size: 26px;
	text-align: center;
	color: #E9E9E9;
}

#u1483-4
{
	z-index: 99;
	width: 380px;
	min-height: 85px;
	color: #E9E9E9;
	line-height: 47px;
	text-indent: 0px;
	font-size: 49px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
}

#page .verticalspacer
{
	clear: both;
}

